extends layout
block content

	.page-header
		h3 Trip History
	each trip, index in user.trips
		div.trip
			b.trip__label Date:
			p= trip.date.substr(0,15)
			b.trip__label Distance:
			p= trip.distance
			b.trip__label Elevation Chart:
			p.chart__outlet(data-route= trip.route)

			button.btn.btn-danger.btn__trips(data-index=index)
				i.fa.fa-trash
				span | Delete Trip
			hr

if user
	block scripts
		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyDLIr5g6ySB20U-oc8-NmrfYTZhc70bMwY')
		script(src='https://www.gstatic.com/charts/loader.js')
		script(src='/js/dist/trips.js')
		script.
			new Trips(document.querySelectorAll('.chart__outlet'))