@import "modules/animations";
@import "themes/default/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";
@import "themes/default/default";
@import "modules/data-panel";
@import "modules/trips";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #282828;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.layout-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    margin: 0 auto;
    background: #fff;
}

.navbar-toggle {
  display: block !important;
}

.navbar-default {
    overflow: hidden;
    position: relative;
    z-index: 999;
}

h3 {
  margin-top: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #fff;

  p, ul {
    margin-bottom: 0;
  }
}

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------
/*
.alert {
    position: absolute;
    z-index: 10000;
    top: 8px;
    left: 56px;
    right: 85px;
    padding: 5px;
}*/

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}


.logo {
  font-size: 20px;
  width: 25px;
}

// Map
// -------------------------

.navbar-default {
  overflow: hidden;
}

#map {
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"] {
  display: none;
}

.map__loading {
  height: auto;
  width: auto;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  position: absolute;
  text-align: center;
  font-weight: bold;
  transform: translate3d(0, -50%, 0);
}

.console-block {
  padding: 0 10px;
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
}

.console {
  width: 100%;
  height: 120px;
  border: solid 1px orange;
}

.avatar {
  float: right;
}

.tracking-button {
  padding: 11px 25px;
  color: #fff;
  position: absolute;
  background-color: #000;
  border: solid 2px #fff;
  font-weight: bold;
  border-radius: 3px;
  left: 50%;
  outline: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  z-index: 100;
  width: 100px;
  margin: 0 5px 40px 5px;
  text-transform: uppercase;
  z-index: 1 !important;
}

.tracking-button--start {
  background-color: #2ecc71;
}

.tracking-button--stop {
  background-color: #c0392b; 
}

.tracking-button--save {
  background-color: #3498db;
}

.navbar-collapse {
  width: 100%;
}

.form-horizontal .form-group label {
  text-align: left;
  margin-bottom: 6px;
}

.btn-link {
    padding: 10px 0 0 0;
    clear: both;
    width: 100%;
    text-align: left;
}

.form-horizontal .control-label {
  padding-top: 0;
}

.navbar-toggle {
  margin-right: 0;
}











