

.data-panel {
	left: 0;
	right: 0;
	bottom: 0;
	height: 350px;
	position: absolute;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
}

.data-panel__cell {
	width: 50%;
	height: 50%;
	display: flex;
	align-content: center;
	color: #000;
	padding: 10px;
}